<!--extending base.html to override the blocks-->
<!-- to generate the note-->
<!--to delete the note--> 
{% extends "base.html" %} {% block title %}HOME{% endblock %} {% block content
    %}
    <h1 align="center">Notes</h1>
    <ul class="list-group list-group-flush" id="notes">
      {% for note in user.notes %}
      <li class="list-group-item">
        {{ note.data }} <!--displaying the note-->
        <button type="button" class="close" onClick="deleteNote({{ note.id }})"> <!-- deleting a note present in index.js-->
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
      {% endfor %}
    </ul>
    <form method="POST">
      <textarea name="note" id="note" class="form-control"></textarea>
      <br />
      <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
      </div>
    </form>
    {% endblock %}